<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dhu.love.manage.mapper.CustomerInfoMapper">

    <!-- 新增客户-->
    <insert id="addCustomerInfo" useGeneratedKeys="true" keyProperty="customer_id" parameterType="com.dhu.love.manage.entity.CustomerInfo">
        insert into table customer_info(customer_name,gender,birthday,age
        ,birth_place,address,phone_number,education,profession,salary
        ,house_number,car,hobby,personality,divorce,status,company
        ,child)
        values(#{customer_name},#{gender},#{birthday},#{age}
        ,#{birth_place},#{address},#{phone_number},#{education},#{profession},#{salary}
        ,#{house_number},#{car},#{hobby},#{personality},#{divorce},#{status},#{company}
        ,#{child});
    </insert>

    <!-- 更新客户 -->
    <update id="updateCustomerInfo" useGeneratedKeys="true" keyProperty="customer_id" parameterType="com.dhu.love.manage.entity.CustomerInfo">
        update table customer_info
        set customer_name=#{customer_name},gender=#{gender},birthday=#{birthday},
        age=#{age},birth_place=#{birth_place},address=#{address},phone_number=#{phone_number},
        education=#{education},#profession=#{profession},salary=#{salary},house_number=#{house_number},
        car=#{car},hobby=#{hobby},personality=#{personality},divorce=#{divorce},status=#{status},
        company=#{company},child=#{child}
        where customer_id=#{customer_id};
    </update>

    <!-- 删除用户 -->
    <delete id="deleteCustomerInfo" parameterType="int">
        delete * from customer_info where customer_id=#{customer_id};
    </delete>
    <!-- 查找用户 通过用户名查询用户 -->
    <select id="findCustomerByname" resultType="java.util.Map" parameterType="String">
        select * from customer_info, user_requirement
        where customer_info.customer_name =#{customer_name} and customer_info.customer_id =user_requirement.customer_id;
    </select>

    <!-- 查询指定用户 用户名+手机号确定唯一用户-->
    <select id="findCustomerOne" resultType="com.dhu.love.manage.entity.CustomerInfo" parameterType="String">
        select * from customer_info join customer_requirement on customer_info.custormer_id = customer_requirement.customer_id
        where customer_info.customer_name=#{customer_name} and customer_info.phone_number=#{phone_number} and;
    </select>
    
    <!-- 全部用户 -->
    <select id="findCustomerAll" resultType="com.dhu.love.grade.model.Customer">
        select  customer_id as customerId,
                customer_name as customerName,
                gender,
                birthday,
                age,
                birth_place as birthPlace,
                address,
                phone_number as phoneNumber,
                education,
                profession,
                salary,
                house_number as houseNumber,
                car as haveCar,
                hobby,
                personality,
                divorce as isDivorce,
                company,
                child as childNumber,
                t.status
        from  customer_info t
    </select>
    
    <!-- 用户数统计 -->
    <select id="totalCustomer" resultType="int">
        select count(*) from customer_info;
    </select>

</mapper>