<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dhu.love.manage.mapper.DatemanagerMapper">

    <!-- 新增记录 -->
    <insert id="addDate" useGeneratedKeys="true" keyProperty="mid" parameterType="com.dhu.love.manage.entity.DateManager">
        insert into table date_management(
  mmname, mmid, mfname, mfid, mmmobile,
  mfmobile, starttime, endtime, datestatus
)
values
  (
    #{mmName},#{mmId},#{mfName},#{mfId},#{mmMobile},#{mfMobile}
    ,
    #{startTime},#{endTime},#{dateStatus});
    </insert>

    <!-- 更新记录 -->
    <update id="updateDate" useGeneratedKeys="true" keyProperty="mid" parameterType="com.dhu.love.manage.entity.Datemanager">
        update
  table date_management
set
  starttime = #{startTime},endtime=#{endTime},datestatus=#{dateStatus}
where
  mmid = #{mmId} and mmmobile=#{mmMobile} and mfid=#{mfId} and mfmobile=#{mfMobile};
    </update>

    <!-- 更新用户表用户状态-->
    <update id="updateCustomer" parameterType="String">
        update table customer_info
        set status = #{dateStatus} where customer_id=#{mmid};
    </update>

    <!-- 删除记录 -->
    <delete id="deleteDate" parameterType="int">
        select * from date_management where mid=#{mid};
    </delete>
    <!-- 通过姓名查找记录 -->
    <select id="findDateByName" resultType="com.dhu.love.manage.entity.DateManager" parameterType="String">
        select * from date_management where mmname = #{name} or mfname=#{name};
    </select>

    <!-- 查找唯一记录-->
    <select id="findDateOne" resultType="com.dhu.love.manage.entity.DateManager" parameterType="int">
        select * from date_management
        where mmid=#{mmid} and mfid=#{mfid};
    </select>
    <!-- 查找记录 -->
    <select id="findDateAll" resultType="com.dhu.love.manage.entity.DateManager" >
        select * from date_management;
    </select>

</mapper>