<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dhu.love.manage.mapper.UserInfoMapper">
    <!-- 新增用户 -->
    <insert id="addUser" useGeneratedKeys="true" keyProperty="userid" parameterType="com.dhu.love.manage.entity.UserInfo">
        insert into user_info(username,usersex,birthdate,birthlocation,status,mobile,company
        ,address,gmt_create,create_id,gmt_modified,modified_id,salary,housenumber,hobby
        ,charactor,education,car,jobtitle,divorce,uuid) values(#{username},#{usersex},#{birthdate}
        ,#{birthlocation},#{status},#{mobile},#{company},#{address},#{gmt_create}
        ,#{create_id},#{gmt_modified},#{modified_id},#{salary},#{housenumber},#{hobby}
        ,#{charactor},#{education},#{car},#{jobtitle},#{divorce},#{uuid});
    </insert>

    <select id="findUserInfo" resultType="com.dhu.love.manage.entity.UserInfo" parameterType="String">
        select * from user_info where uuid =#{uuid};
    </select>

</mapper>